[access]
	inheritFrom = All-Projects
[project]
	description = This project is develop for partial fulfillment of CMSC 198 (Special Problem)
[access "refs/*"]
	owner = group user/airtorres
[access "refs/for/refs/*"]
	read = group user/airtorres
	push = group user/airtorres
	label-Code-Review = -2..+2 group user/airtorres
	label-Verified = -1..+1 group user/airtorres
	rebase = group user/airtorres
	removeReviewer = group user/airtorres
	submit = group user/airtorres
[access "refs/heads/*"]
	read = group user/airtorres
	create = group user/airtorres
	push = +force group user/airtorres
	pushMerge = group user/airtorres
[access "refs/tags/*"]
	push = group user/airtorres
	push = +force group user/airtorres
